/* General Styling */
.main-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/background.jpg);
}

.main-menu-container {
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.main-menu-title {
  font-size: 45px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 30px;
}

.main-menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.main-menu-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
}
.main-menu-card:hover{
  scale: 1.1;
}
.main-card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.main-card-title {
  font-size: 28px;
  font-weight: bold;
  color: #1565c0;
  padding: 10px;
}
.mmhr{
  color: #fff;
  width: 100%;
  padding-top: 5px;
}
/* 3x2 Image Grid Styling */
.image-grid-container {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-gap: 20px;
  margin-top: 20px;
}

.grid-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover img {
  transform: scale(1.1); /* Slight zoom on hover */
}

.heading-grid{
  padding-top: 80px;
  color: rgb(218, 221, 255);
  font-size: 45px;
}

.mmfoot{
  background-color: black;
  color: white;
  margin-top: 100px;
  padding: 10px;
  width: 100%;
}
.mmfoot-head{
  font-size: 25px;
  margin-left: 20px;
}
.mmfoot-list{
  display: flex;
  column-gap: 50px;
  padding-left: 20px;
  margin-top: -10px;
}
.mmfoot-list-item{
  font-size: 30px;
}
.mmcopyr{
  margin-top: 20px;
  margin-left: 40vw;
  font-size: 16px;
}