/* Container splits the screen vertically */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  /* Left video section */
  .videoSection {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
  
  /* Video styling for full coverage */
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Right text section */
  .textSection {
    flex: 1;
    background: linear-gradient(135deg, #0f0e11, #303033);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Centered heading */
  .textSection h1 {
    font-size: 4rem;
    color: #f19429;
    
    font-family: 'Orbitron', sans-serif;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    animation: glow 3s infinite alternate;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
