/* Wrapper */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../assets/tic.jpg);
    background-size: cover;
    padding: 20px;
  }
  
  /* Form Container */
  .login-form-container {
    background: #c9e6f0ec;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 40px 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    scale: 1.5;
  }
  
  /* Title */
  .login-title {
    font-size: 24px;
    color: #1565c0;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Form Entry */
  .form-entry {
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-input:focus {
    outline: none;
    border-color: #1565c0;
    box-shadow: 0px 0px 5px rgba(21, 101, 192, 0.5);
  }
  
  /* Button */
  .login-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background: #1565c0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  .login-button:hover {
    background: #0d47a1;
    transform: scale(1.05);
  }
  
  /* Link */
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  p a {
    color: #1565c0;
    text-decoration: none;
    font-weight: bold;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  