.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.login-container img{
  width: 100%;
  height: 100%;
/* background-size: cover; */
}

.login-image-container {
  flex: 1; /* Flex: 1 gives equal space to both containers */
  background-image: url(path/to/your/image.jpg); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  flex: 1; /* Flex: 1 gives equal space to both containers */
  background: #242424ec;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 40px 30px;
  display: flex; 
 
  justify-content: center; 
  align-items: center; /* Center the form vertically within its container */
}


.login-title {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-entry {
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form{
  align-items: center;
  align-content: center;
  height: 100%;
  width: 70%;
}

.login-input:focus {
  outline: none;
  border-color: #1565c0;
  box-shadow: 0px 0px 5px rgba(21, 101, 192, 0.5);
}

.login-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: white;
  background: #1565c0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.login-button:hover {
  background: #0d47a1;
  transform: scale(1.05);
}

p {
  margin-top: 10px;
  font-size: 14px;
}

p a {
  color: #1565c0;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}